<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panier</title>
</head>
<body>
<h1>Voici votre panier</h1>
<table class="basket-table" style="margin: 20px">
    <thead>
    <tr>
        <th id="ref">Référence</th>
        <th id="album">Album</th>
        <th id="artist">Artiste</th>
        <th id="price">Prix</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="diskToBy : ${basket}">
            <td th:text="${diskToBy.disk.identificationCode}"></td>
            <td th:text="${diskToBy.disk.album}"></td>
            <td th:text="${diskToBy.disk.artist}"></td>
            <td th:text="${diskToBy.price}"></td>
            <td>
                <form th:action="@{/basket}" method="post">
                    <input type="hidden" name="diskReference" th:value="${diskToBy.disk.identificationCode}"/>
                    <input type="hidden" name="action" value="remove"/>
                    <input type="submit" value="Retirer du panier"/>
                </form>
            </td>
        </tr>
    
       
    </tbody>
</table>
 		<p th:if="${submitFailure}" style="color: red">La commande a rencontré des problèmes certains articles ne sont plus disponibles</p>

<table>
    <tbody>
    <tr>
        <td>
            <form th:action="@{/marketplace}" method="get">
				<input type="submit" value="Continuer mes achats"/>
            </form>
        </td>
        <td>
            <form th:action="@{/basket}" method="post">
                <input type="hidden" name="action" value="submit"/>
                <input type="submit" value="Passer commande"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<style>
    .basket-table {
        border: 1px double black;
        border-collapse: separate;
        border-spacing: 1px;
    }

    .basket-table th, .basket-table td {
        border: 1px double black;
        padding: 8px;
        text-align: left;
    }
</style>
</html>
